<b>Demand forecasting with BigQuery and TensorFlow</b>
In this notebook, we will develop a machine learning model to predict the demand for taxi cabs in New York.
To develop the model, we will need to get historical data of taxicab usage. This data exists in BigQuery. Let's start by looking at the schema.

In [5]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [6]:
%%bigquery schema --table "nyc-tlc:green.trips_2015"

<b>Analyzing taxicab demand</b>
Let's pull the number of trips for each day in the 2015 dataset. We can use the BigQuery built-in Date-and-time function DAYOFYEAR (See BigQuery query reference ) for a full list of such functions.

In [8]:
%%sql
SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_2015] LIMIT 5

QueryResultsTable job_bnE3hxavHCWH06QpXV9OMmOjVtI